<form #data="ngForm" (ngSubmit)="onSubmit(data.value)">
  タイトル:
  <input type="text" name="title" ngModel /><br />
  内容:
  <textarea type="text" name="content" ngModel></textarea><br />
  <div class="upload">
    <input
      type="file"
      name="image"
      accept="image/*"
      (change)="onChangeFileInput($event)"
      ngModel
    />
    <img [src]="img2base64" alt="" />
  </div>
  <button type="submit" style="margin: 3px">データを登録</button>
  <button (click)="backBtnClick()" type="button">戻る</button>
</form>
