<div *ngIf="detailData">
  <button class="button" type="submit" (click)="onClickEdit()">
    {{ this.isEdit ? "編集をやめる" : "編集する" }}
  </button>
  <div *ngIf="!this.isEdit">
    <div>タイトル：{{ detailData.title }}</div>
    <div>説明：{{ detailData.content }}</div>
    <img [src]="detailData.image" alt="" />
  </div>
  <!-- isEdit start-->
  <form *ngIf="this.isEdit" #data="ngForm" (ngSubmit)="updateData(data.value)">
    タイトル：<input
      type="text"
      name="title"
      [ngModel]="detailData.title"
    /><br />
    説明：<textarea
      type="text"
      name="content"
      [ngModel]="detailData.content"
    ></textarea
    ><br />
    <img
      [src]="this.hasEditedImg ? this.img2base64 : this.detailData.image"
      alt=""
    /><br />
    <input
      type="file"
      name="image"
      accept="image/*"
      (change)="onChangeFileInput($event)"
      ngModel
    />
    <button class="button" type="submit">編集を保存</button>
  </form>
  <button
    *ngIf="this.isEdit && this.showButton"
    class="button"
    (click)="onClickDeleteImg()"
  >
    画像を削除</button
  ><br />
  <!-- isEdit end-->
  <div>データ登録日時：{{ detailData.created_at | slice: 0:16 }}</div>
  <div>データ更新日時：{{ detailData.updated_at | slice: 0:16 }}</div>

  <input
    class="button"
    type="button"
    id="delete"
    value="削除"
    (click)="deleteData()"
  />
  <button class="button" (click)="backBtnClick()" type="button">戻る</button>
</div>
